@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
    background-color:  #E5E5E5;
    font-family: "Roboto", sans-serif;
    max-width: 375px;
    max-height: 667px;
}

.header {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;    
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header img {
    width: 75px;
    height: 53px;
    margin: 16px 22px 11px;

}

.header ion-icon {
    font-size: 45px;
    margin-right: 23px ;
}

.container {
    height: 507px;
    margin-top: 120px;
}

.bottombar {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;    
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.bottombar ion-icon {
    font-size: 30px;
    margin-right: 23px ;
}

.bottombar input {
    margin-left: 22px;
    border: none;
    font-size: 18px;   
    font-style: normal;
    color: -internal-light-dark(black, white);
    font-weight: 500;
    appearance: value;
}



/* MENSAGENS ADICIONADAS VIA SCRIPT */

.message  {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
}

.message h4 {
color: #AAAAAA;
font-size: 14px;
margin-left: 8px;
}

.message h3 {
    color: black;
    font-size: 14px;
    margin-left: 10px;
    }

.private {
    background-color: #FFDEDE;
}

.message.enteredchat {
    background-color: #DCDCDC;
}



